<?xml version="1.0" encoding="utf-8"?>
<odoo>
    
    <menuitem id="menu_commission_root" name="Commissions" parent="sale.sale_menu_root" sequence="40"/>
    
    <menuitem id="menu_commission_records" name="Commission Records" parent="menu_commission_root"
              action="action_commission_record" sequence="10"/>
    
    <menuitem id="menu_commission_lines" name="Commission Lines" parent="menu_commission_root"
              action="action_commission_line" sequence="20"/>
    
    <menuitem id="menu_commission_config" name="Configuration" parent="menu_commission_root" sequence="100"/>
    
    <menuitem id="menu_commission_rules" name="Commission Rules" parent="menu_commission_config"
              action="action_commission_rule" sequence="10"/>
    
</odoo>
